.header {
  height: 80px;
  padding: 0 5vw;
  background: #f0f0f0;
  position: sticky;
  border-bottom: 1px solid #d6d6d6;
}

.header__buttons {
  padding-top: 20px;
}

.header img {
  height: 100%;

  display: block;
}

.header form {
  height: 80px;
  align-items: center;
}
